* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.center {
    padding-left: calc(50% - 599px);
    padding-right: calc(50% - 599px);
}

a {
    text-decoration: none;
}

.top {
    height: 1024px;
    background-image: url(img/topback.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-left: 120px;
    &__title {
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: #FFF;
        width: 788.778px;
        padding-top: 217.1px;
        margin-bottom: 32px;
    }
    &__text {
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
        width: 481px;
        margin-bottom: 44px;
    }
    &__button {
        width: 234.063px;
        height: 48.603px;
        border-radius: 30px;
        background: #9C0332;
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        border: 2px solid #9C0332;
        &:hover {
            border-color: aqua;
        }
    }
}

.product {
    height: 556px;
    background-color: #000915;
    padding-bottom: 128px;
    padding-top: 128px;
    &__content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 32px;
    }  
    &__box {
        width: 378px;
        height: 300px;
        border-radius: 16px;
        background: transparent;
        &:hover {
            border-color: aqua;
        }
        &__picture {
            border-color: #FFF;
            &:hover {
                border-color: aqua;
            }
        }
    }
}

.prefooter {
    height: 800px;
    background-color: #000915;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 135px;
    &__title {
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: #FFF;
        width: 377px;
        margin-bottom: 32px;
    }
    &__text {
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
        width: 584px;
        margin-bottom: 32px;
    }
    &__button {
        width: 234.063px;
        height: 48.603px;
        border-radius: 30px;
        border: 2px solid #9C0332;
        background: #9C0332;
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        &:hover {
            border-color: aqua;
        }
    }
    &__icon {
        width: 485px;
        height: 333px;
    }
}


@import 'mobile2';